<!DOCTYPE html> 
<html lang="en-US">

<!-- Mirrored from kamleshyadav.com/about/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Jun 2019 16:35:40 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head> 
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="MobileOptimized" content="320">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="/xmlrpc.php">
<title>About &#8211; LMS WordPress</title>
<meta name='robots' content='noindex,follow' />
<link rel='dns-prefetch' href='http://maps.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="LMS WordPress &raquo; Feed" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="LMS WordPress &raquo; Comments Feed" href="/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.1.1"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='dashicons-css'  href='/wp-includes/css/dashicons.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='admin-bar-css'  href='/wp-includes/css/admin-bar.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css'  href='/wp-includes/css/dist/block-library/style.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='bbp-default-css'  href='/wp-content/plugins/bbpress/templates/default/css/bbpress01c4.css?ver=2.5.14-6684' type='text/css' media='screen' />
<link rel='stylesheet' id='bp-admin-bar-css'  href='/wp-content/plugins/buddypress/bp-core/css/admin-bar.minae82.css?ver=4.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='bp-nouveau-css'  href='/wp-content/plugins/buddypress/bp-templates/bp-nouveau/css/buddypress.minae82.css?ver=4.2.0' type='text/css' media='screen' />
<link rel='stylesheet' id='contact-form-7-css'  href='/wp-content/plugins/contact-form-7/includes/css/styles3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='/wp-content/plugins/revslider/public/assets/css/settings6281.css?ver=5.4.8.2' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='theme-my-login-css'  href='/wp-content/plugins/theme-my-login/assets/styles/theme-my-login.min080c.css?ver=7.0.13' type='text/css' media='all' />
<link rel='stylesheet' id='zilla-likes-css'  href='/wp-content/plugins/zilla-likes/styles/zilla-likes3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='learn-press-buddypress-css'  href='/wp-content/plugins/learnpress-buddypress/assets/css/site3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='lms_defaultbasic-css'  href='/wp-content/themes/lms/style68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='/wp-content/themes/lms/css/bootstrap68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.mine23c.css?ver=5.7' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='/wp-content/themes/lms/css/animate68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='owl.carousel-css'  href='/wp-content/themes/lms/js/plugin/owl-carousel/owl.carousel68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='owl.theme-css'  href='/wp-content/themes/lms/js/plugin/owl-carousel/owl.theme68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='mediaelementplayer-css'  href='/wp-content/themes/lms/js/plugin/mediaelement/mediaelementplayer68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='prettyPhoto-css'  href='/wp-content/themes/lms/js/plugin/prettyphoto/css/prettyPhoto68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='lms_style-css'  href='/wp-content/themes/lms/css/customstyle68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='/wp-content/plugins/js_composer/assets/css/js_composer.mine23c.css?ver=5.7' type='text/css' media='all' />
<link rel='stylesheet' id='learn-press-css'  href='/wp-content/plugins/learnpress/assets/css/learnpress7862.css?nocache=1559751946.8&amp;ver=3.2.5.2' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-scrollbar-css'  href='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbar7862.css?nocache=1559751946.8&amp;ver=3.2.5.2' type='text/css' media='all' />
<script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/widget-members.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/jquery-query.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/vendor/jquery-cookie.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/vendor/jquery-scroll-to.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min6281.js?ver=5.4.8.2'></script>
<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min6281.js?ver=5.4.8.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var zilla_likes = {"ajaxurl":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/zilla-likes/scripts/zilla-likes3c21.js?ver=5.1.1'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key&amp;sensor=false&amp;ver=5.1.1'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/watch7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/jquery.alert7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/circle-bar7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var userSettings = {"url":"\/wp\/lms-new\/","uid":"0","time":"1559751946","secure":""};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-includes/js/utils.min3c21.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var lpGlobalSettings = {"url":"http:\/\/kamleshyadav.com\/wp\/lms-new\/about\/","siteurl":"http:\/\/kamleshyadav.com\/wp\/lms-new","ajax":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-admin\/admin-ajax.php","theme":"lms","localize":{"button_ok":"OK","button_cancel":"Cancel","button_yes":"Yes","button_no":"No"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/global7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbar7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/frontend/learnpress7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var lpCourseSettings = [];
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/frontend/course7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/jquery.scrollTo7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/frontend/become-teacher7862.js?nocache=1559751946.8&amp;ver=3.2.5.2'></script>
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.1.1" />
<link rel="canonical" href="index.html" />
<link rel='shortlink' href='/?p=1261' />
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fkamleshyadav.com%2Fwp%2Flms-new%2Fabout%2F" />
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fkamleshyadav.com%2Fwp%2Flms-new%2Fabout%2F&amp;format=xml" />

	<script type="text/javascript">var ajaxurl = '/wp-admin/admin-ajax.php';</script>

<!-- Custom CSS -->
<style type="text/css">
div#comments li {
list-style: none;
}
</style><meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><style type="text/css" media="print">#wpadminbar { display:none; }</style>
	<style type="text/css" media="screen">
	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}
</style>
	<meta name="generator" content="Powered by Slider Revolution 5.4.8.2 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>
<style type="text/css" title="dynamic-css" class="options-output">body{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading body,{opacity: 0;}.ie.wf-loading body,{visibility: hidden;}h1,h2,h3,h4,h5,h6{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,h2,h3,h4,h5,h6,{opacity: 0;}.ie.wf-loading h1,h2,h3,h4,h5,h6,{visibility: hidden;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="bp-nouveau page-template-default page page-id-1261 admin-bar no-customize-support checkout lms learnpress learnpress-page wpb-js-composer js-comp-ver-5.7 vc_responsive no-js">  
<!--Header start-->
<%- include('header'); -%>
	<div class="lms_page_title">
		  <div class="lms_page_title_bg" data-stellar-vertical-offset="-150" data-stellar-background-ratio="" style="background: url(/wp-content/uploads/2016/03/bg1_new.jpg);">
			 <div class="lms_page_title_bg_overlay">
				<div class="container">
					<div class="lms_title">About</div>
						<div class="pull-right"><ol class="breadcrumb"><li><a href="/">Home</a></li><li>About</li></ol>
					</div>
				</div>
			</div>
		  </div>
	</div> 
<!--main container start-->
<div class="container">
	<div class="row">
      	 <!--blog categories start-->
         <div class="col-lg-12 col-md-12 col-sm-12"><article id="post-1261" class="post-1261 page type-page status-publish hentry">
	<div class="entry-content">
        <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lms_title_center"><div class="lms_heading_1"><h2 class="lms_heading_title">Programming Quiz - About page</h2></div><p>Aliquam et venenatis arcu, ac dictum felis. Nulla sapien dolor, tempor sodales mauris et, ultrices tique odio.</p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lms_service_3"><div class="lms_service_icon"><img src="/wp-content/uploads/2016/03/services1-41x41.png" alt="service icon"></div><h3 class="lms_service_title">Learn Anything Online</h3><p>Lorem ipsum dolor sit amet, consectetur adDonec idiam dapibus, sodales odio quis, fgilla maurisorci. Nullam vel laoreet dui. Sed blandit quis sapien sed,</p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lms_service_3"><div class="lms_service_icon"><img src="/wp-content/uploads/2016/03/services2-41x41.png" alt="service icon"></div><h3 class="lms_service_title">Talk to Our Expertse</h3><p>Lorem ipsum dolor sit amet, consectetur adDonec idiam dapibus, sodales odio quis, fgilla maurisorci. Nullam vel laoreet dui. Sed blandit quis sapien sed,</p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lms_service_3"><div class="lms_service_icon"><img src="/wp-content/uploads/2016/03/services3-41x41.png" alt="service icon"></div><h3 class="lms_service_title">Communicate with People</h3><p>Lorem ipsum dolor sit amet, consectetur adDonec idiam dapibus, sodales odio quis, fgilla maurisorci. Nullam vel laoreet dui. Sed blandit quis sapien sed,</p></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
      
    <div class="wpb_column vc_column_container vc_col-sm-2">
        <div class="vc_column-inner"><div class="wpb_wrapper">

        </div>
    </div>
</div>
</div>
      <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lms_our_success"><div class="lms_our_success_bg" data-stellar-vertical-offset="0" data-stellar-background-ratio="0.5" style="background: url(/wp-content/uploads/2016/03/07.jpg);"><div class="lms_our_success_bg_overlay"><div class="container"><div class="row"><div class="col-lg-12 col-md-12 col-sm-12 text-center"><div class="lms_our_success_title wow fadeInDown"><h3>Our Success in Numbers</h3><p>Aliquam et venenatis arcu, ac dictum felis. Nulla sapien dolor, tempor sodales mauris et,</p></div></div></div><div class="row"><div class="col-lg-3 col-md-3 col-sm-3 wow fadeInLeft"><div class="lms_count"><i class="fa fa-user"></i><div class="lms_progress_value count appear-count"  data-from="0" data-to="<%= user_array.length %>" data-speed="2000" data-refresh-interval="50"></div><p class="lms_progess_label">student</p> </div></div><div class="col-lg-3 col-md-3 col-sm-3 wow fadeInLeft"><div class="lms_count"><i class="fa fa-book"></i><div class="lms_progress_value count appear-count"  data-from="0" data-to="12" data-speed="2000" data-refresh-interval="50"></div><p class="lms_progess_label">courses</p> </div></div><div class="col-lg-3 col-md-3 col-sm-3 wow fadeInLeft"><div class="lms_count"><i class="fa fa-male"></i><div class="lms_progress_value count appear-count"  data-from="0" data-to="2866" data-speed="2000" data-refresh-interval="50"></div><p class="lms_progess_label">visitor</p> </div></div><div class="col-lg-3 col-md-3 col-sm-3 wow fadeInLeft"><div class="lms_count"><i class="fa fa-graduation-cap"></i><div class="lms_progress_value count appear-count"  data-from="0" data-to="35" data-speed="2000" data-refresh-interval="50"></div><p class="lms_progess_label">experts</p> </div></div></div></div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lms_title_center"><div class="lms_heading_1"><h2 class="lms_heading_title">About our Organization</h2></div><p>Aliquam et venenatis arcu, ac dictum felis. Nulla sapien dolor, tempor sodales mauris cum ne periculis molestiae pri.</p></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h3 style="text-align: left" class="vc_custom_heading">Who We Are</h3>
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</p>

		</div>
	</div>
<div class="accordion panel-group"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5cf7ed0b27a8a">Mauris posuere</a></h4></div><div id="collapse5cf7ed0b27a8a" class="panel-collapse collapse in"><div class="panel-body">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</div></div></div><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5cf7ed0b27d1a">Aliquam et venenatis</a></h4></div><div id="collapse5cf7ed0b27d1a" class="panel-collapse collapse "><div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div></div></div><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5cf7ed0b27e26">Nulla nec tristique</a></h4></div><div id="collapse5cf7ed0b27e26" class="panel-collapse collapse "><div class="panel-body">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</div></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h3 style="text-align: left" class="vc_custom_heading">Our Skills</h3>
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</p>

		</div>
	</div>
<div class="lms_flat_skills vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_orange"><label>Photoshop</label><div class="progress  vc_single_bar"><div class="progress-bar vc_bar animated striped" data-percentage-value="90" data-value="90"><small > 90% </small></div></div><label>Illustrator</label><div class="progress  vc_single_bar"><div class="progress-bar vc_bar animated striped" data-percentage-value="80" data-value="80"><small > 80% </small></div></div><label>HTML / CSS</label><div class="progress  vc_single_bar"><div class="progress-bar vc_bar animated striped" data-percentage-value="90" data-value="90"><small > 90% </small></div></div><label>PHP / MYSQL</label><div class="progress  vc_single_bar"><div class="progress-bar vc_bar animated striped" data-percentage-value="70" data-value="70"><small > 70% </small></div></div></div></div></div></div></div>
	</div><!-- .entry-content -->
	<footer class="entry-footer">
			</footer><!-- .entry-footer -->
</article><!-- #post-## --></div>      </div>    
</div>
<!--main container end-->
<%- include('footer'); -%>
<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>
<script type='text/javascript' src='/wp-includes/js/admin-bar.min3c21.js?ver=5.1.1'></script>
<script type='text/javascript' src='/wp-content/plugins/bbpress/templates/default/js/editor01c4.js?ver=2.5.14-6684'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var BP_Nouveau = {"ajaxurl":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-admin\/admin-ajax.php","confirm":"Are you sure?","show_x_comments":"Show all %d comments","unsaved_changes":"Your profile has unsaved changes. If you leave the page, the changes will be lost.","object_nav_parent":"#buddypress","objects":{"0":"activity","1":"members","4":"xprofile","7":"settings","8":"notifications"},"nonces":{"activity":"96a801974d","members":"7e05c14299","xprofile":"f25aff9eb1","settings":"35403d9e8a","notifications":"d74a11b126"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-templates/bp-nouveau/js/buddypress-nouveau.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-includes/js/comment-reply.min3c21.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts3c21.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var themeMyLogin = {"action":"","errors":[]};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/theme-my-login/assets/scripts/theme-my-login.min080c.js?ver=7.0.13'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/appear/jquery.appear.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/count/jquery.countTo.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/mediaelement/mediaelement-and-player.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/mixitup/jquery.mixitup.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/modernizr/modernizr.custom.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/owl-carousel/owl.carousel.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/parallax/jquery.stellar.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/prettyphoto/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/single/single.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/wow/wow.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/grid-gallery.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/bootstrap.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/custom.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/custom_ajax.js'></script>
<script type='text/javascript' src='/wp-includes/js/wp-embed.min3c21.js?ver=5.1.1'></script>
<script type='text/javascript' src='/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.mine23c.js?ver=5.7'></script>
<script type='text/javascript' src='/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.mine23c.js?ver=5.7'></script>
		

<script language="javascript"> 
  
        function DisplayVisits() 
       {    
        // How many visits so far? 
            var numVisits = GetCookie("numVisits"); 
            if (numVisits) numVisits = parseInt(numVisits) + 1; 
            else numVisits = 1; // the value for the new cookie 
        
        // Show the number of visits 
            if (numVisits==1) document.write("This is your first visit."); 
            else document.write("You have visited this page " + numVisits + " times."); 
        
        // Set the cookie to expire 365 days from now 
            var today = new Date(); 
            today.setTime(today.getTime() + 365 /*days*/ * 24 /*hours*/ * 60 /*minutes*/ * 60 /*seconds*/ * 1000 /*milliseconds*/); 
            SetCookie("numVisits", numVisits, today); 
        } 
</script>


<!-- Mirrored from kamleshyadav.com/about/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Jun 2019 16:37:46 GMT -->
</body>
</html>