<!--Header start-->
<%- include('header'); -%> 

<div class="lms_page_title">
		  <div class="lms_page_title_bg" data-stellar-vertical-offset="-150" data-stellar-background-ratio="" style="background: url(/wp-content/uploads/2016/03/bg1_new.jpg);">
			 <div class="lms_page_title_bg_overlay">
				<div class="container">
					<div class="lms_title">Contact Us</div>
						<div class="pull-right"><ol class="breadcrumb"><li><a href="/">Home</a></li><li>Contact Us</li></ol>
					</div>
				</div>
			</div>
		  </div>
	</div> 
<!--main container start-->
<div class="container">
	<div class="row">
      	 <!--blog categories start-->
         <div class="col-lg-12 col-md-12 col-sm-12">
			 <article id="post-767" class="post-767 page type-page status-publish hentry">
	<div class="entry-content">
		<div class="vc_row wpb_row vc_row-fluid">
			<div class="wpb_column vc_column_container vc_col-sm-2">
				<div class="vc_column-inner">
					<div class="wpb_wrapper">

					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container vc_col-sm-8">
				<div class="vc_column-inner">
					<div class="wpb_wrapper">
						<div class="lms_title_center">
							<div class="lms_heading_1">
								<h2 class="lms_heading_title">Programming Quiz - Get In Touch with Us !</h2>
							</div>
							<p>Duis tortor lacus, dictum nec augue a, euismod sagittis eros. Aliquam id ligula</p>
						</div>
					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container vc_col-sm-2">
				<div class="vc_column-inner"><div class="wpb_wrapper">

				</div>
			</div>
		</div>
	</div>
	<div class="vc_row wpb_row vc_row-fluid">
		<div class="wpb_column vc_column_container vc_col-sm-4">
			<div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
			<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="wpb_wrapper">
			<h3>Address :</h3>
<p><span class="lms_theme_color"> </span>Prajapativas,Ganeshpura,Palanpur</p>
<h3>Phone no :</h3>
<p>+91 7622818671<br />
</p>

<h3>Email Id :</h3>
<p><a href="mailto:hp529351@gmail.com">hp529351@gmail.com</a></p>
<div class="lms_social7" style=" margin-top:30px"><ul><li><a href="https://www.facebook.com/" target="_blank" class="facebook" ><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/?lang=en" target="_blank" class="twitter" ><i class="fa fa-twitter"></i></a></li><li><a href="https://in.pinterest.com/" target="_blank" class="pinterest" ><i class="fa fa-pinterest"></i></a></li><li><a href="https://vine.co/" target="_blank" class="vine" ><i class="fa fa-vine"></i></a></li></ul></div></div></div></div>	
		</div>
	</div>
	
	<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="wpb_wrapper">
					<iframe width="600" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=palanpur%20gujarat&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:380px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:380px;width:600px;}</style>
				</div>
			
		



<div class="lms_contact_form" style=" margin-top:10px">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
	<form action="/contact" method="POST">
<div class="form-group">
<span class="wpcf7-form-control-wrap FullName">
	<input type="text" name="FullName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="ur_name" aria-required="true" aria-invalid="false" placeholder="Your Full Name" /></span>
</div>
<div class="form-group">
<span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="ur_mail" aria-required="true" aria-invalid="false" placeholder="Your email" /></span>
</div>
<div class="form-group">
<span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" id="ur_subject" aria-invalid="false" placeholder="Your Subject" /></span>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="form-group">
<span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control tr_textarea" id="Message" aria-invalid="false" placeholder="Your Message"></textarea></span>
</div>
</div>
<div class="col-lg-12">
<input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-default pull-right lms_submit" id="submit_now" />
</div>
</form>
</div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div>

</article><!-- #post-## --></div>      </div>    
</div>
<!--main container end-->
<%- include('footer'); -%>

		</body>
</html>