<html>
    <body>
<footer class="entry-footer">
</footer><!-- .entry-footer -->

<!--main container end-->
<div id="lms_footer">


</div>
<div class="lms_footer_center">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><div class="lms_footer_logo"> <img src="/wp-content/themes/lms/images/logo.png" alt="footer logo"/> </div><p>Integer vitae triagna. Praesent bibendum quam tellus, quis rhoncus orci cursus vel. Aenean suscipilacerat elit sit amet lacinia. Phasellus volutt ligula eget urna egestas vehicula. Proinpus est sed mauris viverra, eu congue tellus tempus. e</p><div class="lms_social"><ul><li><a href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li><li><a href="https://www.google.co.in/" target="_blank" data-toggle="tooltip" data-placement="top" title="Google+" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li><li><a href="https://in.pinterest.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li></ul></div></div><div class="col-lg-3 col-md-6 col-sm-6"><div class="lms_footer_popular_course"><h3>Recent Course</h3><div class="lms_footer_course"><img src="/wp-content/uploads/2016/06/HTML-and-Html5-86x86.jpg"  alt=""><a href="/html"><h4>Learning Quality Graphic Design</h4></a><p>There are many variations of passages</p></div><div class="lms_footer_course"><img src="/wp-content/uploads/2016/06/JQuery-Tutorial-86x86.jpg"  alt=""><a href="/jquery"><h4>JQuery Tutorial</h4></a><p>
    jQuery is a fast and concise</p></div></div></div><div class="col-lg-3 col-md-6 col-sm-6"><div class="lms_footer_course_category"><h3>Course Categories</h3>		
<ul>
<li class="cat-item cat-item-34"><a href="/clanguage" >C</a>
</li>
<li class="cat-item cat-item-35"><a href="/obj" >C++</a>
</li>
<li class="cat-item cat-item-36"><a href="/java" >JAVA</a>
</li>
<li class="cat-item cat-item-37"><a href="/vb" >.NET</a>
</li>
<li class="cat-item cat-item-37"><a href="#" >More.</a>
</li>
</ul>
</div></div><div class="col-lg-3 col-md-6 col-sm-6"><div class="lms_footer_contact"><h3>Contacts</h3><p class="lms_address"><span class="lms_theme_color">Address :  </span>Prajapativas,Ganeshpura,Palanpur</p><p class="lms_phone"><span class="lms_theme_color">Phone no : </span>+91 7622818671</p><p class="lms_fax"><p class="lms_email"><span class="lms_theme_color">Email id : </span> <a href="mailto:hp529351@gmail.com">hp529351@gmail.com</a></p></div></div>         </div>
</div>
</div>
<div class="lms_footer_bottom">
<p>Copyright © 2019 Programming Quiz Theme All Rights Reserved.</p>
</div>
</div>
<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>
<script type='text/javascript' src='/wp-includes/js/admin-bar.min3c21.js?ver=5.1.1'></script>
<script type='text/javascript' src='/wp-content/plugins/bbpress/templates/default/js/editor01c4.js?ver=2.5.14-6684'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var BP_Nouveau = {"ajaxurl":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-admin\/admin-ajax.php","confirm":"Are you sure?","show_x_comments":"Show all %d comments","unsaved_changes":"Your profile has unsaved changes. If you leave the page, the changes will be lost.","object_nav_parent":"#buddypress","objects":{"0":"activity","1":"members","4":"xprofile","7":"settings","8":"notifications"},"nonces":{"activity":"20343c46a7","members":"bdb90fcd0f","xprofile":"8999f5143d","settings":"8e7d4e3c95","notifications":"cfcc724abe"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-templates/bp-nouveau/js/buddypress-nouveau.minae82.js?ver=4.2.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts3c21.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var themeMyLogin = {"action":"","errors":[]};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/theme-my-login/assets/scripts/theme-my-login.min080c.js?ver=7.0.13'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/appear/jquery.appear.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/count/jquery.countTo.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/mediaelement/mediaelement-and-player.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/mixitup/jquery.mixitup.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/modernizr/modernizr.custom.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/owl-carousel/owl.carousel.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/parallax/jquery.stellar.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/prettyphoto/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/single/single.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/plugin/wow/wow.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/grid-gallery.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/bootstrap.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/custom.js'></script>
<script type='text/javascript' src='/wp-content/themes/lms/js/custom_ajax.js'></script>
<script type='text/javascript' src='/wp-includes/js/wp-embed.min3c21.js?ver=5.1.1'></script>
<div id="wpadminbar" class="nojq nojs">
                <a class="screen-reader-shortcut" href="#wp-toolbar" tabindex="1">Skip to toolbar</a>
            <div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="Toolbar">
    </div>
        </div>

</body>

<!-- Mirrored from kamleshyadav.com/wp/lms-new/lp-courses/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 May 2019 19:18:12 GMT -->
</html>