<%- include('header'); -%>
<div class="lms_page_title">
		  <div class="lms_page_title_bg" data-stellar-vertical-offset="-150" data-stellar-background-ratio="" style="background: url(/wp-content/uploads/2016/03/bg1_new.jpg);">
			 <div class="lms_page_title_bg_overlay">
				<div class="container">
					<div class="lms_title">Forgot Password</div>
						<div class="pull-right"><ol class="breadcrumb"><li><a href="/">Home</a></li><li>Forgot Password</li></ol>
					</div>
				</div>
			</div>
		  </div>
	</div> 
<!--main container start-->
<div class="container">
	<div class="row">
      	 <!--blog categories start-->
         <div class="col-lg-12 col-md-12 col-sm-12"><article id="post-1163" class="post-1163 page type-page status-publish hentry">
	<div class="entry-content">
		<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="tml tml-login">
                    <% if (locals.email) { %>
<ul class="tml-errors"><li class="tml-error" style="color: red"><%= email %></li></ul>
    
                             <% } %>
                             <form name="login" action="/forgot_password" method="post">
    <div class="tml-field-wrap tml-log-wrap">
<label class="tml-label" for="user_login"> Email Address</label>
<input name="User_email" type="text" value="" id="user_login" class="tml-field" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
</div>

<div class="tml-field-wrap tml-submit-wrap">
<input name="submit" type="submit" value="Send" class="tml-button">
</div>

<input name="redirect_to" type="hidden" value="">

<input name="testcookie" type="hidden" value="1">

</form>


		</div>
	</div>
</div></div></div></div>
	</div><!-- .entry-content -->
	
</article><!-- #post-## --></div>      </div>    
</div>
<!--main container end-->
<%- include('footer'); -%>