<!DOCTYPE html> 
<html lang="en-US">

<!-- Mirrored from kamleshyadav.com/lp-courses/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 May 2019 19:17:18 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="MobileOptimized" content="320">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="/xmlrpc.php">
<title> Programming Quiz</title>
<meta name='robots' content='noindex,follow' />
<link rel='dns-prefetch' href='http://maps.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="LMS WordPress &raquo; Feed" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="LMS WordPress &raquo; Comments Feed" href="/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="LMS WordPress &raquo; Courses Feed" href="feed/index.html" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.1.1"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='dashicons-css'  href='/wp-includes/css/dashicons.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='admin-bar-css'  href='/wp-includes/css/admin-bar.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css'  href='/wp-includes/css/dist/block-library/style.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='bbp-default-css'  href='/wp-content/plugins/bbpress/templates/default/css/bbpress01c4.css?ver=2.5.14-6684' type='text/css' media='screen' />
<link rel='stylesheet' id='bp-admin-bar-css'  href='/wp-content/plugins/buddypress/bp-core/css/admin-bar.minae82.css?ver=4.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='bp-nouveau-css'  href='/wp-content/plugins/buddypress/bp-templates/bp-nouveau/css/buddypress.minae82.css?ver=4.2.0' type='text/css' media='screen' />
<link rel='stylesheet' id='contact-form-7-css'  href='/wp-content/plugins/contact-form-7/includes/css/styles3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='/wp-content/plugins/revslider/public/assets/css/settings6281.css?ver=5.4.8.2' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='theme-my-login-css'  href='/wp-content/plugins/theme-my-login/assets/styles/theme-my-login.min080c.css?ver=7.0.13' type='text/css' media='all' />
<link rel='stylesheet' id='zilla-likes-css'  href='/wp-content/plugins/zilla-likes/styles/zilla-likes3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='learn-press-buddypress-css'  href='/wp-content/plugins/learnpress-buddypress/assets/css/site3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='lms_defaultbasic-css'  href='/wp-content/themes/lms/style68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='/wp-content/themes/lms/css/bootstrap68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.mine23c.css?ver=5.7' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='/wp-content/themes/lms/css/animate68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='owl.carousel-css'  href='/wp-content/themes/lms/js/plugin/owl-carousel/owl.carousel68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='owl.theme-css'  href='/wp-content/themes/lms/js/plugin/owl-carousel/owl.theme68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='mediaelementplayer-css'  href='/wp-content/themes/lms/js/plugin/mediaelement/mediaelementplayer68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='prettyPhoto-css'  href='/wp-content/themes/lms/js/plugin/prettyphoto/css/prettyPhoto68b3.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='lms_style-css'  href='/wp-content/themes/lms/css/customstyle68b3.css' type='text/css' media='all' />
<link rel='stylesheet' id='learn-press-css'  href='/wp-content/plugins/learnpress/assets/css/learnpressabd7.css?nocache=1558724846.71&amp;ver=3.2.5.2' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-scrollbar-css'  href='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbarabd7.css?nocache=1558724846.71&amp;ver=3.2.5.2' type='text/css' media='all' />
<script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/widget-members.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/jquery-query.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/vendor/jquery-cookie.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/buddypress/bp-core/js/vendor/jquery-scroll-to.minae82.js?ver=4.2.0'></script>
<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min6281.js?ver=5.4.8.2'></script>
<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min6281.js?ver=5.4.8.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var zilla_likes = {"ajaxurl":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/zilla-likes/scripts/zilla-likes3c21.js?ver=5.1.1'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key&amp;sensor=false&amp;ver=5.1.1'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/watchabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/jquery.alertabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/circle-barabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var userSettings = {"url":"\/wp\/lms-new\/","uid":"0","time":"1558724846","secure":""};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-includes/js/utils.min3c21.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var lpGlobalSettings = {"url":"http:\/\/kamleshyadav.com\/wp\/lms-new\/lp-courses\/","siteurl":"http:\/\/kamleshyadav.com\/wp\/lms-new","ajax":"http:\/\/kamleshyadav.com\/wp\/lms-new\/wp-admin\/admin-ajax.php","theme":"lms","localize":{"button_ok":"OK","button_cancel":"Cancel","button_yes":"Yes","button_no":"No"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/globalabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbarabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/frontend/learnpressabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var lpCourseSettings = {"root_url":"http:\/\/kamleshyadav.com\/wp\/lms-new\/","id":925,"url":"http:\/\/kamleshyadav.com\/wp\/lms-new\/courses\/fundamentals-of-chemistry\/","result":0,"current_item":"","items":""};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/frontend/courseabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/vendor/jquery.scrollToabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<script type='text/javascript' src='/wp-content/plugins/learnpress/assets/js/frontend/become-teacherabd7.js?nocache=1558724846.71&amp;ver=3.2.5.2'></script>
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.1.1" />

	<script type="text/javascript">var ajaxurl = '/wp-admin/admin-ajax.php';</script>

<!-- Custom CSS -->
<style type="text/css">
div#comments li {
list-style: none;
}
</style><meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><style type="text/css" media="print">#wpadminbar { display:none; }</style>
	<style type="text/css" media="screen">
	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}
</style>
	<meta name="generator" content="Powered by Slider Revolution 5.4.8.2 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script type="text/javascript">function setREVStartSize(e){			
try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
	if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
}catch(d){console.log("Failure at Presize of Slider:"+d)}
					};</script>
<style type="text/css" title="dynamic-css" class="options-output">body{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading body,{opacity: 0;}.ie.wf-loading body,{visibility: hidden;}h1,h2,h3,h4,h5,h6{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,h2,h3,h4,h5,h6,{opacity: 0;}.ie.wf-loading h1,h2,h3,h4,h5,h6,{visibility: hidden;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="bp-nouveau archive post-type-archive post-type-archive-lp_course admin-bar no-customize-support lms learnpress learnpress-page wpb-js-composer js-comp-ver-5.7 vc_responsive no-js">  
<!--Header start-->
	<header id="lms_header"> 
			<div class="lms_header_top">
		<div class="container">
			<div class="row">
				
<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
	<div class="lms_any_que_wrapper">
			<p>Have any question?</p>
			<div class="lms_mobile"><i class="fa fa-phone"></i><span class="value">(+91)7622818671</span>
		</div>
				<div class="lms_email"><i class="fa fa-envelope"></i><a href="mailto:hp529351@gmail.com">
					hp529351@gmail.com</a>
		</div>
			</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
	<div class="lms_login_wrapper">
		<ul>
			<li>
			<a href="/register" title="Register">Register </a>		</li>
			<li>
			<a href="/login" title="Login">Login</a></li>
		</ul>
	</div>
</div>
			</div>
		</div>
	</div>
			<div class="container">
			<h1 class="logo"> <a href="/"> <img alt="Porto"  data-sticky-width="82" data-sticky-height="40" src="/wp-content/themes/lms/images/logo.png"> </a> </h1>
			<button class="lms_menu_toggle btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse"><i class="fa fa-bars"></i> </button>
		</div>
		<div class="navbar-collapse nav-main-collapse collapse">
			<div class="container"> 
			<nav class="nav-main mega-menu">
				<ul id="mainMenu" class="nav nav-pills nav-main">
						<li id="menu-item-1475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1475"><a title="" href="/" class="dropdown-toggle">Home</a></li>
<li id="menu-item-1441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1441 dropdown"><a title="" href="#" class="dropdown-toggle">Courses </a>
<ul class="dropdown-menu">
	<li id="menu-item-1491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1491"><a title="" href="/clanguage" class="dropdown-toggle">C </a></li>	<li id="menu-item-1490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1490"><a title="" href="/obj" class="dropdown-toggle">C++</a></li>	<li id="menu-item-1489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1489"><a title="" href="/java" class="dropdown-toggle">JAVA</a></li>	<li id="menu-item-1488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1488"><a title="" href="/vb" class="dropdown-toggle">.Net</a></li>	<li id="menu-item-1487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1487"><a title="" href="/php" class="dropdown-toggle">PHP</a></li>	<li id="menu-item-1486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1486"><a title="" href="/node" class="dropdown-toggle">NODE JS</a></li>	<li id="menu-item-1485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1485"><a title="" href="/angular" class="dropdown-toggle">ANGULAR</a></li>	<li id="menu-item-1484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1484"><a title="" href="/android" class="dropdown-toggle">ANDROID</a></li>	<li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/html" class="dropdown-toggle">HTML and Html5</a></li><li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/css" class="dropdown-toggle">CSS</a></li><li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/jquery" class="dropdown-toggle">JQuery</a></li><li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/bootstrap" class="dropdown-toggle">BOOTSTRAP</a></li></ul>
</li>
<li id="menu-item-1441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1441 dropdown"><a title="" href="#" class="dropdown-toggle">Result </a>
	<ul class="dropdown-menu">
		<li id="menu-item-1491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1491"><a title="" href="/cresult" class="dropdown-toggle">C </a></li>	<li id="menu-item-1490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1490"><a title="" href="/objresult" class="dropdown-toggle">C++</a></li>	<li id="menu-item-1489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1489"><a title="" href="/javaresult" class="dropdown-toggle">JAVA</a></li>	<li id="menu-item-1488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1488"><a title="" href="/vbresult" class="dropdown-toggle">.Net</a></li>	<li id="menu-item-1487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1487"><a title="" href="/phpresult" class="dropdown-toggle">PHP</a></li>	<li id="menu-item-1486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1486"><a title="" href="/noderesult" class="dropdown-toggle">NODE JS</a></li>	<li id="menu-item-1485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1485"><a title="" href="/angularresult" class="dropdown-toggle">ANGULAR</a></li>	<li id="menu-item-1484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1484"><a title="" href="/androidresult" class="dropdown-toggle">ANDROID</a></li>	<li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/htmlresult" class="dropdown-toggle">HTML and Html5</a></li><li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/cssresult" class="dropdown-toggle">CSS</a></li><li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/jqueryresult" class="dropdown-toggle">JQuery</a></li><li id="menu-item-1483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1483"><a title="" href="/bootstrapresult" class="dropdown-toggle">BOOTSTRAP</a></li></ul>
	</li>


<li id="menu-item-1476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1476"><a title="" href="/about" class="dropdown-toggle">About</a></li><li id="menu-item-1475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1475"><a title="" href="/contact" class="dropdown-toggle">Contact Us</a></li><li id="menu-item-1475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1475"><a title="" href="/logout" class="dropdown-toggle">Logout</a></li></ul></nav><div class="lms_search_toggle"><a><i class="fa fa-search"></i></a></div>
			<div class="lms_search_wrapper"> <form method="get"  class="searchform" action="/">
	<input type="search" value="" placeholder="Search."  name="s" id="cs" class="form-control"/>
	</form> </div>
</div> 
		</div>
    </header>
    </body>
    </html>
    
