<%- include('header'); -%>

<div class="lms_page_title">
		  <div class="lms_page_title_bg" data-stellar-vertical-offset="-150" data-stellar-background-ratio="" style="background: url(../wp-content/uploads/2016/03/bg1_new.jpg);">
			 <div class="lms_page_title_bg_overlay">
				<div class="container">
					<div class="lms_title">Archives: Courses</div>
						<div class="pull-right"><ol class="breadcrumb"><li><a href="/">Home</a></li></ol>
					</div>
				</div>
			</div>
		  </div>
	</div> 
<!--main container start-->
<div class="container">
	<div class="row">
      	 <!--blog categories start-->
         <div class="col-lg-12 col-md-12 col-sm-12"><article id="post-856" class="post-856 page type-page status-publish hentry">
	<div class="entry-content">
		



    <div id="lp-archive-courses" class="lp-archive-courses">

		

<form method="get" name="search-course" class="learn-press-search-course-form"
      action="#">

    <input type="text" name="s" class="search-course-input" value=""
           placeholder="Search course..."/>
    <input type="hidden" name="ref" value="course"/>

    <button class="lp-button button search-course-button">Search</button>
</form>

<ul class="learn-press-courses">
<div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1225" class="post-1225 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-mobile-apps course_category-web-development course">

	
    <a href="/c language" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="1" height="1" src="../wp-content/uploads/2016/06/HTML-and-Html5.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Learning Quality Graphic Design" />
</div>

<h3 class="course-title">C language</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="purchase-course" class="purchase-course" method="get" action="/clanguage" enctype="multipart/form-data">

		
        <input type="hidden" name="purchase-course" value="1225"/>
        <input type="hidden" name="purchase-course-nonce"
               value="f87c560773"/>

        <button class="lp-button button button-purchase-course" type="submit">
			Start        </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1126" class="post-1126 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-web-development course">

	
    <a href="/obj" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/JQuery-Tutorial-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="JQuery Tutorial"  />
</div>

<h3 class="course-title">C++</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="purchase-course" class="purchase-course" method="GET" action="/obj" enctype="multipart/form-data">

		
        <input type="hidden" name="purchase-course" value="1126"/>
        <input type="hidden" name="purchase-course-nonce"
               value="17ef233475"/>

        <button class="lp-button button button-purchase-course" type="submit">
			Start       </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1103" class="post-1103 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-mobile-apps course_category-web-development course">

	
    <a href="/java" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/Make-a-Unity-2D-Physics-Game-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Make a Unity 2D Physics Game"  />
</div>

<h3 class="course-title">JAVA</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
</span>

</div>
<div class="lp-course-buttons">

		

    <form name="purchase-course" class="purchase-course" method="GET" action="/java" enctype="multipart/form-data">

		
        <input type="hidden" name="purchase-course" value="1103"/>
        <input type="hidden" name="purchase-course-nonce"
               value="ba4fb6bf2c"/>

        <button class="lp-button button button-purchase-course" type="submit">
			Start       </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1081" class="post-1081 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-management course_category-marketing course_category-web-development course">

	
    <a href="/vb" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/SEO-Training-Course-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="SEO Training Course" />
</div>

<h3 class="course-title">.Net</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="Start-course" class="Start-course" method="GET" action="/vb" enctype="multipart/form-data">

		
        <input type="hidden" name="Start-course" value="1081"/>
        <input type="hidden" name="Start-course-nonce"
               value="7dd9ca2f02"/>

        <button class="lp-button button button-Start-course" type="submit">
			Start        </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1062" class="post-1062 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-music course">

	
    <a href="/php" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="400" height="250" src="../wp-content/uploads/2016/06/learn-guitar-400x250.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Getting Started with Playing Guitar" />
</div>

<h3 class="course-title">PHP</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="purchase-course" class="purchase-course" method="GET" action="/php" enctype="multipart/form-data">

		
        <input type="hidden" name="purchase-course" value="1062"/>
        <input type="hidden" name="purchase-course-nonce"
               value="d221910f91"/>

        <button class="lp-button button button-purchase-course" type="submit">
			Start       </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1043" class="post-1043 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-yoga course">

	
    <a href="/node" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/Fun-Yoga-for-Kids-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Fun Yoga for Kids"  />
</div>

<h3 class="course-title">NODE JS</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="Start-course" class="Start-course" action="/node" method="get" enctype="multipart/form-data">

		
        <input type="hidden" name="Start-course" value="1043"/>
        <input type="hidden" name="Start-course-nonce"
               value="e9e3b7494f"/>

        <button class="lp-button button button-Start-course" type="submit">
			Start        </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1027" class="post-1027 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-management course">

	
    <a href="/angular" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/Food-Safety-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Food Safety"  />
</div>

<h3 class="course-title">ANGULAR</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="purchase-course" class="purchase-course" method="GET" action="/angular" enctype="multipart/form-data">

		
        <input type="hidden" name="purchase-course" value="1027"/>
        <input type="hidden" name="purchase-course-nonce"
               value="078103a796"/>

        <button class="lp-button button button-purchase-course" type="submit">
			Start       </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-1003" class="post-1003 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-web-development course">

	
    <a href="/android" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/Health-and-Human-Development-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Health and Human Development"  />
</div>

<h3 class="course-title">ANDROID</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="purchase-course" class="purchase-course" method="GET" action="/android" enctype="multipart/form-data">

		
        <input type="hidden" name="purchase-course" value="1003"/>
        <input type="hidden" name="purchase-course-nonce"
               value="b2bdb4efb3"/>

        <button class="lp-button button button-purchase-course" type="submit">
			Start       </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-956" class="post-956 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-web-development course">

	
    <a href="/html" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="1" height="1" src="../wp-content/uploads/2016/06/HTML-and-Html5.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Know About HTML and Html5" />
</div>

<h3 class="course-title"> HTML and Html5</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="Start-course" class="Start-course" method="GET" action="/html" enctype="multipart/form-data">

		
        <input type="hidden" name="Start-course" value="956"/>
        <input type="hidden" name="Start-course-nonce"
               value="3cc9b52531"/>

        <button class="lp-button button button-Start-course" type="submit">
			Start        </button>

		
    </form>

	
</div>
</div>
</div><div class="col-lg-4 col-md-4 col-sm-6">
<div id="post-925" class="post-925 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-management course">

	
    <a href="/css" class="course-permalink">

		
<div class="course-thumbnail">

	<img width="300" height="184" src="../wp-content/uploads/2016/06/HTML-and-Html5.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Fundamentals of Chemistry" />
</div>

<h3 class="course-title">CSS</h3>
    </a>

	
<div class="course-info">

<div class="course-price">

	
		
        <span class="price">Free</span>

	
</div>
<span class="course-instructor">
	</span>

</div>
<div class="lp-course-buttons">

		

    <form name="Start-course" class="Start-course" method="GET" action="/css" enctype="multipart/form-data">

		
        <input type="hidden" name="Start-course" value="925"/>
        <input type="hidden" name="Start-course-nonce"
               value="0e1a430de4"/>

        <button class="lp-button button button-Start-course" type="submit">
			Start        </button>

		
    </form>

	
</div>
</div>


</div>
<div class="col-lg-4 col-md-4 col-sm-6">
	<div id="post-925" class="post-925 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-management course">
	
		
		<a href="/jquery" class="course-permalink">
	
			
	<div class="course-thumbnail">
		<img width="300" height="184" src="../wp-content/uploads/2016/06/JQuery-Tutorial-300x184.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="JQuery Tutorial"/>
	</div>
	
	<h3 class="course-title">JQuery</h3>
		</a>
	
		
	<div class="course-info">
	
	<div class="course-price">
	
		
			
			<span class="price">Free</span>
	
		
	</div>
	<span class="course-instructor">
		</span>
	
	</div>
	<div class="lp-course-buttons">
	
			
	
		<form name="Start-course" class="Start-course" method="GET" action="/jquery" enctype="multipart/form-data">
	
			
			<input type="hidden" name="Start-course" value="925"/>
			<input type="hidden" name="Start-course-nonce"
				   value="0e1a430de4"/>
	
			<button class="lp-button button button-Start-course" type="submit">
				Start        </button>
	
			
		</form>
	
		
	</div>
	</div>
	
	
	</div>

	<div class="col-lg-4 col-md-4 col-sm-6">
		<div id="post-925" class="post-925 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-health-literacy course_category-management course">
		
			
			<a href="/bootstrap" class="course-permalink">
		
				
		<div class="course-thumbnail">
		
			
	<img width="300" height="184" src="../wp-content/uploads/2016/06/HTML-and-Html5.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Fundamentals of Chemistry"  />
</div>
		
		<h3 class="course-title">BOOTSTRAP</h3>
			</a>
		
			
		<div class="course-info">
		
		<div class="course-price">
		
			
				
				<span class="price">Free</span>
		
			
		</div>
		<span class="course-instructor">
			</span>
		
		</div>
		<div class="lp-course-buttons">
		
				
		
			<form name="Start-course" class="Start-course" method="GET" action="/bootstrap" enctype="multipart/form-data">
		
				
				<input type="hidden" name="Start-course" value="925"/>
				<input type="hidden" name="Start-course-nonce"
					   value="0e1a430de4"/>
		
				<button class="lp-button button button-Start-course" type="submit">
					Start        </button>
		
				
			</form>
		
			
		</div>
		</div>
		
		
		</div>
</ul>
<nav class="learn-press-pagination">
	<ul class='page-numbers'>
	<li><span aria-current='page' class='page-numbers current'>1</span></li>
	<li><a class='page-numbers' href='page/2/index.html'>2</a></li>
	<li><a class="next page-numbers" href="page/2/index.html">></a></li>
</ul>
</nav>
</div>	</div><!-- .entry-content -->
	</article>
	</div>
	</div>
	</div>
	<%- include('footer'); -%>
	</body>
	</html>